<div id="{{ section.settings.form_11_unique_id }}" style="display: none;" class="eleventh-form">
  <div class="form-block-wrapper form-block-11 flex-block flex-center">
    <div class="left-block">
      <div class="left-block-box">
        <!-- <div class="block-num">11</div> -->
        <div class="content-box">
          <p class="ques-text content-heading">
            {{ section.settings.form_11_question }}
          </p>
          <p class="sub-text content-desc">
            {{ section.settings.form_11_question_description }}
          </p>
          <div class="options-box">
            <!-- <form action=""> -->
              <div class="form-container">
                <div class="form-group">
                  <label for="firstname">{{ section.settings.form_11_option_1 }}</label>
                  <input
                    type="text"
                    class="form-control firstname"
                    placeholder="Jane"
                    id="{{ section.settings.form_11_first_name_unique_id }}"
                  >
                </div>
                <div class="form-group">
                  <label for="lastname">{{ section.settings.form_11_option_2 }}</label>
                  <input
                    type="text"
                    class="form-control name"
                    placeholder="Smith"
                    autocomplete="name"
                    id="{{ section.settings.form_11_name_unique_id }}"
                  >
                </div>
                <div class="form-group">
                  <label for="firstname"> {{ 'general.type_form.eleventh_form.postal_code' | t }} </label>
                  <input
                    type="text"
                    class="form-control postal-code"
                    placeholder="H2T 2R4"
                    autocomplete="num"
                    id="postal_code"
                  >
                </div>

                <div class="form-group">
                  <label for="lastname">{% comment %} {{ section.settings.form_11_option_4 }} {% endcomment %} {{ 'general.type_form.email_placeholder' | t }}</label>
                  <input
                    type="email"
                    class="form-control email"
                    placeholder="nom@exemple.com"
                    autocomplete="email"
                    id="{{ section.settings.form_11_e_mail_unique_id }}"
                  >
                </div>
                
                <div class="form-group">
                  <label for="lastname">{{ section.settings.form_11_option_3 }}</label>
                  <input
                    type="tel"
                    class="form-control number"
                    placeholder="(506) 234-5678"
                    autocomplete="number"
                    id="{{ section.settings.form_11_phone_unique_id }}"
                  >
                </div>
    
              </div>
              <div class="buttons">
                <button class="back-button-11 button" style="display: block;">{{ section.settings.back_btn_text }}</button>
                <button class="next-button-11 button" data-next="{{ section.settings.form_10_unique_id }}">{{ section.settings.next_btn_text }}</button>
              </div>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('.back-button-11').addEventListener('click', function() {
      const currentSnippet = document.getElementById('{{ section.settings.form_11_unique_id }}');
      const previousSnippet = document.getElementById('{{ section.settings.form_10_unique_id }}');

      if (previousSnippet) {
        previousSnippet.style.display = 'block';
      }

      if (currentSnippet) {
        currentSnippet.style.display = 'none';
      }
    });

    const emailInput = document.getElementById('{{ section.settings.form_11_e_mail_unique_id }}');
    const customerMainEmail = document.getElementById("AddressEmailNew");
    emailInput.addEventListener('blur', function () {
      const email = emailInput.value.trim();
      if (!isValidEmail(email)) {
        emailInput.classList.add("invalid-email");
      } else {
        emailInput.classList.remove("invalid-email");
        customerMainEmail.value = emailInput.value;
      }
    });
    
    function isValidEmail(email) {
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      return emailRegex.test(email);
    }

    document.querySelector('.next-button-11').addEventListener('click', function () {
      const firstName = document.getElementById('{{ section.settings.form_11_first_name_unique_id }}').value.trim();
      const lastName = document.getElementById('{{ section.settings.form_11_name_unique_id }}').value.trim();
      const phoneNumber = document.getElementById('{{ section.settings.form_11_phone_unique_id }}').value.trim();
      const email = emailInput.value.trim();
    
      const currentSnippet = document.getElementById('{{ section.settings.form_11_unique_id }}');
      const nextSnippet = document.getElementById('{{ section.settings.form_16_unique_id }}');
    
      if (!firstName || !lastName || !phoneNumber || !email) {
        showNotification("Please fill in all fields.");
        return;
      }
    
      if (!isValidEmail(email)) {
        emailInput.classList.add("invalid-email");
        showNotification("Please provide a valid email address");
        return;
      }
    
      document.getElementById('line_item-{{ section.settings.form_11_first_name_unique_id }}').value = firstName;
      document.getElementById('line_item-{{ section.settings.form_11_name_unique_id }}').value = lastName;
      document.getElementById('line_item-{{ section.settings.form_11_phone_unique_id }}').value = phoneNumber;
      document.getElementById('line_item-{{ section.settings.form_11_e_mail_unique_id }}').value = email;
    
      if (nextSnippet) {
        nextSnippet.style.display = 'block';
      }
      if (currentSnippet) {
        currentSnippet.style.display = 'none';
      }
    });

    
    const notification = document.createElement('div');
    notification.className = 'notification';
    document.body.appendChild(notification);

    const showNotification = (message) => {
        notification.textContent = message;
        notification.classList.add('show');
        setTimeout(() => {
            notification.classList.remove('show');
        }, 3000); 
    };

    
    {% comment %}
    const formInputs = document.querySelectorAll('.eleventh-form input');
    formInputs.forEach(input => {
      input.addEventListener('input', function() {
        const firstName = document.getElementById('{{ section.settings.form_11_first_name_unique_id }}').value.trim();
        const lastName = document.getElementById('{{ section.settings.form_11_name_unique_id }}').value.trim();
        const phoneNumber = document.getElementById('{{ section.settings.form_11_phone_unique_id }}').value.trim();
        const email = document.getElementById('{{ section.settings.form_11_e_mail_unique_id }}').value.trim();
        const nextButton = document.querySelector('.next-button-11');

        if (firstName && lastName && phoneNumber && email) {
          nextButton.style.display = 'block';
        } else {
          nextButton.style.display = 'none';
        }
      });
    });
    {% endcomment %}
  });
</script>
