<!--first form default shown-->

<div id="{{ section.settings.form_1_unique_id }}" class="first-form">
  <div class="form-block-wrapper form-block-1 flex-block">
    <div class="left-block">
      <div class="left-block-box">
        <!-- <div class="block-num">1</div> -->
        <div class="content-box">
          <p class="ques-text content-heading">
            {{ section.settings.form_1_question }}
          </p>
          <p class="sub-text content-desc">
            {{ section.settings.form_1_question_description }}
          </p>
          <div class="options-box">
            {% if section.settings.form_1_option_1 != blank %}
              <div class="option option1" onclick="handleOptionClick(event, '{{ section.settings.form_1_option_1 }}')">
                <span>A</span> {{ section.settings.form_1_option_1 }}
              </div>
            {% endif %}
            {% if section.settings.form_1_option_2 != blank %}
              <div class="option option1" onclick="handleOptionClick(event, '{{ section.settings.form_1_option_2 }}')">
                <span>B</span> {{ section.settings.form_1_option_2 }}
              </div>
            {% endif %}
            {% if section.settings.form_1_option_3 != blank %}
              <div class="option option1" onclick="handleOptionClick(event, '{{ section.settings.form_1_option_3 }}')">
                <span>C</span> {{ section.settings.form_1_option_3 }}
              </div>
            {% endif %}
            {% if section.settings.form_1_option_4 != blank %}
              <div class="option option1" onclick="handleOptionClick(event, '{{ section.settings.form_1_option_4 }}')">
                <span>D</span> {{ section.settings.form_1_option_4 }}
              </div>
            {% endif %}
            {% if section.settings.form_1_option_5 != blank %}
              <div class="option option1" onclick="handleOptionClick(event, '{{ section.settings.form_1_option_5 }}')">
                <span>E</span> {{ section.settings.form_1_option_5 }}
              </div>
            {% endif %}
          </div>
          <div class="autre-field form-group" style="display: none;">
            <input
              type="text"
              class="form-control"
              id="autreInput"
              placeholder="Enter your autre"
              oninput="handleAutreInput()"
            >
          </div>
          <div id="nextButtonWrapper" class="next-button" style="display: none;">
            <button id="nextButton" onclick="showNextSnippet('{{ section.settings.form_2_unique_id }}')" class="button">
              {{ section.settings.next_btn_text }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="right-block">
      <div class="img-box">
        <img src="{{ section.settings.form_1_image | image_url }}" alt="Image 1">
      </div>
    </div>
  </div>
</div>
<script>
  const nextButton = document.getElementById('nextButton');
  const nextButtonWrapper = document.getElementById('nextButtonWrapper');
  const autreField = document.querySelector('#{{ section.settings.form_1_unique_id }} .autre-field');
  const autreInput = document.getElementById('autreInput');
  const options = document.querySelectorAll('#{{ section.settings.form_1_unique_id }} .option1');

  function handleOptionClick(event, optionText) {
    const selectedOption = event.currentTarget;

    // Remove 'selected' class from all options
    options.forEach(option => {
      option.classList.remove('selected');
    });

    // Add 'selected' class to the clicked option
    selectedOption.classList.add('selected');
   
    const clickedOptionText = optionText;
    const lastOptionText = getLastOptionText();
    if (clickedOptionText === lastOptionText.trim()) {
      autreField.style.display = 'block'; // Show autre input field for the last option
      nextButtonWrapper.style.display = 'none'; // Hide next button for the last option
      setLineItemValue(autreInput.value); // Set value to line item when last option is selected
    } else {
      autreField.style.display = 'none'; // Hide autre input field for other options
      nextButtonWrapper.style.display = 'block'; // Show next button for other options
      setLineItemValue(clickedOptionText); // Set value to line item when an option is selected
    }
  }

  function getLastOptionText() {
    const lastOption = options[options.length - 1].textContent.trim();
    const optionTextNew = lastOption.substring(1); // Exclude the first character (A, B, C, etc.)
    return optionTextNew; // Get the text content of the last option's span element without the initial letter
  }

  function handleAutreInput() {
    if (autreInput.value.trim() !== '' && autreField.style.display === 'block') {
      nextButtonWrapper.style.display = 'block'; // Show next button when something is written in autre input
      setLineItemValue(autreInput.value); // Set value to line item when input value is provided
    } else {
      nextButtonWrapper.style.display = 'none'; // Hide next button when autre input is empty or for other options
    }
  }

  function setLineItemValue(value) {
    const currentSnippet = document.getElementById('{{ section.settings.form_1_unique_id }}');
    const snippetId = currentSnippet.id;
    const lineItemId = `line_item-${snippetId}`;
    const inputField = document.getElementById(lineItemId);

    if (inputField) {
      inputField.value = value;
      console.log(inputField.value);
    }
  }

  function showNextSnippet(nextSnippetId) {
  const currentSnippet = document.getElementById('{{ section.settings.form_1_unique_id }}');
  currentSnippet.style.display = 'none'; // Hide the current snippet

  const nextSnippet = document.getElementById(nextSnippetId);
  if (nextSnippet) {
    nextSnippet.style.display = 'block'; // Show the next snippet
  }
}
</script>
