<div
  id="{{ section.settings.form_19_unique_id }}"
  class="form-block-wrapper form-block-19 flex-block flex-center single-form"
  style="display: none;"
>
  <div class="left-block">
    <div class="left-block-box">
      <!-- <div class="block-num">19</div> -->
      <div class="content-box">
        <p class="ques-text content-heading">
          {{ section.settings.form_19_question }}
        </p>
        <div class="options-box">
          <!-- <form action=""> -->
            <div class="form-container">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control year_adoption"
                  placeholder="{{ "general.type_form.reply_here_text" | t }}"
                  autocomplete="name"
                  id="{{ section.settings.form_19_year_adoption_unique_id }}"
                >
              </div>
            </div>
            <div class="buttons">
                <button class="back-button-19 button" style="display: block;">{{ section.settings.back_btn_text }}</button>
                <button class="next-button-19 button" data-next="{{ section.settings.form_20_unique_id }}" style="display: none;">{{ section.settings.next_btn_text }}</button>
              </div>
            <!-- <button class="button" type="button" id="submitButton19">{{ section.settings.submit_btn_text }}</button> -->
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('.back-button-19').addEventListener('click', function() {
      const currentSnippet = document.getElementById('{{ section.settings.form_19_unique_id }}');
      const previousSnippet = document.getElementById('{{ section.settings.form_18_unique_id }}');

      if (previousSnippet) {
        previousSnippet.style.display = 'block';
      }

      if (currentSnippet) {
        currentSnippet.style.display = 'none';
      }
    });
    document.querySelector('.next-button-19').addEventListener('click', function() {
    const yearAdoptionId = document.querySelector('.year_adoption').id;
    const yearAdoption = document.getElementById(yearAdoptionId).value;

    if (yearAdoption) {
      document.getElementById('line_item-' + yearAdoptionId).value = yearAdoption;
      console.log('Form data has been submitted for snippet 19.');
      const currentSnippet = document.getElementById('{{ section.settings.form_19_unique_id }}');
      const nextSnippet = document.getElementById('{{ section.settings.form_20_unique_id }}');

      if (nextSnippet) {
        nextSnippet.style.display = 'block';
      }

      if (currentSnippet) {
        currentSnippet.style.display = 'none';
      }
    } else {
      console.log('Please fill in the field for snippet 19.');
    }
  });
  const formInput19 = document.querySelector('.form-block-19 .form-container input');
    formInput19.addEventListener('input', function() {
      // alert('a');
      const yearAdoption = document.getElementById('{{ section.settings.form_19_year_adoption_unique_id }}').value.trim();
      const nextButton = document.querySelector('.next-button-19');
      if (yearAdoption) {
        nextButton.style.display = 'block';
      } else {
        nextButton.style.display = 'none';
      }
    });
  // document.addEventListener('DOMContentLoaded', function() {
  //   const submitButton19 = document.getElementById('submitButton19');
  //   submitButton19.addEventListener('click', handleSubmitClick19);
  // });

});
</script>
