<!--mechanism_repaired form -->
<div id="{{ section.settings.form_3_unique_id }}" style="display: none;" class="form-wrapper">
  <div class="form-block-wrapper form-block-3 flex-block">
    <div class="left-block">
      <div class="left-block-box">
        <!-- <div class="block-num">3</div> -->
        <div class="content-box">
          <p class="ques-text content-heading">{{ section.settings.form_3_question }}</p>
          <p class="sub-text content-desc"></p>
          <div class="options-box">
            {% if section.settings.form_3_option_1 != blank %}
              <div
                class="option option1"
                onclick="handleOptionClickForForm3(event, 'mechanism_end')"
              >
                <span>O</span> {{ section.settings.form_3_option_1 }}
              </div>
            {% endif %}
            {% if section.settings.form_3_option_2 != blank %}
              <div
                class="option option1"
                onclick="handleOptionClickForForm3(event, 'toy_replica')"
              >
                <span>N</span> {{ section.settings.form_3_option_2 }}
              </div>
            {% endif %}
          </div>
          <div class="buttons">
            <button
              id="backButton3"
              style="display: block;"
              class="button"
              onclick="showPreviousSnippet3('request_concerns')"
            >
               {{ section.settings.back_btn_text }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="right-block">
      <div class="img-box">
        <img src="{{ section.settings.form_3_image | image_url }}" alt="Image 3">
      </div>
    </div>
  </div>
</div>
<script>
  const options3 = document.querySelectorAll('.form-block-3 .options-box .option');

  function handleOptionClickForForm3(event, nextSnippetId) {
    const clickedOptionText = event.currentTarget.textContent.trim().replace(/[A-Z]\s/, '');
    const snippetId = event.currentTarget.closest('.form-wrapper').id;

    const currentSnippet = document.getElementById(snippetId);
    currentSnippet.style.display = 'none';

    const nextSnippet = document.getElementById(nextSnippetId);
    if (nextSnippet) {
      nextSnippet.style.display = 'block';
    }

    const lineItemId = `line_item-${snippetId}`;
    const inputField = document.getElementById(lineItemId);

    if (inputField) {
      inputField.value = clickedOptionText;
      console.log(inputField.value);
    }
  }

  options3.forEach(option => {
    option.addEventListener('click', function(event) {
      const nextSnippetId = option.dataset.nextSnippetId;
      handleOptionClickForForm3(event, nextSnippetId);
    });
  });

  function showPreviousSnippet3(previousSnippetId) {
    // alert('btn');
    const previousSnippet = document.getElementById(previousSnippetId);
    if (previousSnippet) {
      previousSnippet.style.display = 'block';
    }
    const currentSnippet = document.getElementById('{{ section.settings.form_3_unique_id }}');
    currentSnippet.style.display = 'none';
  }
</script>
